.u-section-1 .u-sheet-1 {
  min-height: 263px;
}

.u-section-1 .u-icon-1 {
  width: 95px;
  height: 95px;
  background-image: none;
  margin: 27px auto 0;
}
a{
  text-decoration: none !important;
  color: black !important;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 32px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-icon-1 {
    color: rgb(71, 138, 201) !important;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 605px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  grid-auto-rows: 100%;
  margin-top: 130px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
  min-height: 233px;
  grid-gap: 20px 20px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-1 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-2 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-3 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 40px 30px 30px;
}

.u-section-2 .u-icon-4 {
  height: 91px;
  width: 91px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  letter-spacing: 2px;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: none;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 321px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 192px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(255, 255, 255) !important;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-2 .u-icon-4 {
    color: rgb(255, 255, 255) !important;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 845px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 313px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    min-height: 489px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 48px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 48px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 860px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 440px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1256px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 300px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 816px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 868px;
}

.u-section-3 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 67px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 107px;
  margin-bottom: 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 6.66667px));
  min-height: 388px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 66px auto 0;
}

.u-section-3 .u-text-2 {
  width: 236px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-3 {
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 800;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-3 .u-icon-2 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 66px auto 0;
}

.u-section-3 .u-text-4 {
  width: 236px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-5 {
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 800;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-3 .u-icon-3 {
  height: 102px;
  width: 102px;
  background-image: none;
  margin: 66px auto 0;
}

.u-section-3 .u-text-6 {
  width: 236px;
  margin: 14px auto 0;
}

.u-section-3 .u-text-7 {
  width: 236px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  font-weight: 800;
}

.u-section-3 .u-shape-1 {
  width: 350px;
  height: 332px;
  margin: -107px auto 0 -210px;
}

.u-section-3 .u-shape-2 {
  width: 350px;
  height: 332px;
  margin: -316px auto 0 -219px;
}

.u-section-3 .u-shape-3 {
  width: 350px;
  height: 332px;
  margin: -868px -202px 0 auto;
}

.u-section-3 .u-shape-4 {
  width: 350px;
  height: 332px;
  margin: -325px -213px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-top: -65px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 66px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 320px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -808px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1455px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 347px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 735px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 150px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
    margin-left: 166px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -868px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1829px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 586px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 107px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: 262px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 278px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 535px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-shape-3 {
    margin-top: -950px;
    margin-right: -297px;
  }

  .u-section-3 .u-shape-4 {
    margin-top: -336px;
    margin-right: -285px;
    margin-bottom: 60px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 868px;
}

.u-section-4 .u-text-1 {
  font-family: Poppins;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 3.75rem;
  margin: 77px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 211px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 281px;
  grid-gap: 30px 30px;
}

.u-section-4 .u-list-item-1 {
  animation-duration: 500ms;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 25px 58px 0 0;
}

.u-section-4 .u-text-3 {
  margin: 15px 2px 0 0;
}

.u-section-4 .u-list-item-2 {
  animation-duration: 500ms;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-4 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 25px 48px 0 0;
}

.u-section-4 .u-text-5 {
  margin: 15px 2px 0 0;
}

.u-section-4 .u-list-item-3 {
  animation-duration: 500ms;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-6 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 25px 38px 0 0;
}

.u-section-4 .u-text-7 {
  margin: 15px 2px 0 0;
}

.u-section-4 .u-list-item-4 {
  animation-duration: 500ms;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-8 {
  letter-spacing: 1px;
  line-height: 1.2;
  font-family: Poppins;
  font-size: 1.25rem;
  text-transform: none;
  font-weight: 700;
  margin: 25px 57px 0 0;
}

.u-section-4 .u-text-9 {
  margin: 15px 2px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    min-height: 232px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    margin-right: 0;
  }

  .u-section-4 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 831px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 551px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 814px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 868px;
}

.u-section-5 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-5 .u-text-2 {
  width: 746px;
  margin: 20px auto 0;
}

.u-section-5 .u-gallery-1 {
  height: 268px;
  margin-top: 30px;
  margin-bottom: 0;
  grid-gap: 17px 17px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 17px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-5 .u-gallery-1 {
    height: 221px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1100px;
  }

  .u-section-5 .u-text-2 {
    width: 720px;
  }

  .u-section-5 .u-gallery-1 {
    height: 784px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2668px;
  }

  .u-section-5 .u-text-2 {
    width: 540px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2352px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1797px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1481px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 876px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 89px auto 0;
}

.u-section-6 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: 89px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  background-image: none;
}

.u-section-6 .u-shape-1 {
  width: 624px;
  height: 665px;
  margin: -419px 979px 0 -463px;
}

.u-section-6 .u-shape-2 {
  width: 624px;
  height: 665px;
  margin: -675px 953px 0 -437px;
}

.u-section-6 .u-rotation-parent-1 {
  width: 624px;
  height: 665px;
  margin: -704px -392px 0 auto;
}

.u-section-6 .u-shape-3 {
  width: 624px;
  height: 665px;
}

.u-section-6 .u-rotation-parent-2 {
  width: 624px;
  height: 665px;
  margin: -665px -416px 60px auto;
}

.u-section-6 .u-shape-4 {
  width: 624px;
  height: 665px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-shape-1 {
    margin-right: 879px;
  }

  .u-section-6 .u-shape-2 {
    margin-right: 853px;
  }

  .u-section-6 .u-shape-3 {
    margin: -587px -9px 0 425px;
  }

  .u-section-6 .u-shape-4 {
    margin: -675px -35px 60px 451px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-shape-1 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  .u-section-6 .u-shape-2 {
    margin-right: 693px;
  }

  .u-section-6 .u-shape-3 {
    margin-left: 265px;
  }

  .u-section-6 .u-shape-4 {
    margin-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }

  .u-section-6 .u-shape-1 {
    width: 540px;
  }

  .u-section-6 .u-shape-2 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-shape-3 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-6 .u-shape-4 {
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-form-1 {
    width: 340px;
  }

  .u-section-6 .u-shape-1 {
    width: 340px;
    margin-top: -398px;
    margin-left: -340px;
  }

  .u-section-6 .u-shape-2 {
    width: 340px;
    margin-top: -673px;
    margin-right: auto;
    margin-left: -329px;
  }

  .u-section-6 .u-rotation-parent-1 {
    width: 241px;
    height: 285px;
    margin-top: -599px;
    margin-right: -270px;
  }

  .u-section-6 .u-shape-3 {
    width: 241px;
    height: 285px;
  }

  .u-section-6 .u-rotation-parent-2 {
    width: 256px;
    height: 256px;
    margin-top: 402px;
    margin-right: -270px;
  }

  .u-section-6 .u-shape-4 {
    width: 256px;
    height: 256px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 168px;
}.u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 168px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 30px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-8 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-8 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 326px;
  min-width: 230px;
  animation-duration: 1000ms;
  margin: -78px auto 60px;
}

.u-section-8 .u-icon-1 {
  color: rgb(0, 178, 138) !important;
}

.u-section-8 .u-icon-2 {
  color: rgb(17, 17, 17) !important;
}

.u-section-8 .u-icon-3 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 89px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 128px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 68px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-icon-1 {
    color: rgb(59, 89, 152) !important;
  }

  .u-section-8 .u-icon-3 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 264px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 102px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 64px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 64px;
  }

  .u-section-8 .u-icon-1 {
    color: rgb(0, 178, 138) !important;
  }

  .u-section-8 .u-icon-3 {
    color: rgb(0, 178, 138) !important;
  }
}