.u-section-1 .u-sheet-1 {
  min-height: 1332px;
}

.u-section-1 .u-text-1 {
  margin: 60px 0 0;
}

.u-section-1 .u-shape-1 {
  width: 624px;
  height: 665px;
  margin: -775px -423px 0 auto;
}

.u-section-1 .u-shape-2 {
  width: 624px;
  height: 665px;
  margin: -675px -449px 0 auto;
}

.u-section-1 .u-shape-3 {
  width: 475px;
  height: 382px;
  margin: -60px auto 0 -305px;
}

.u-section-1 .u-shape-4 {
  width: 475px;
  height: 382px;
  margin: -369px auto 60px -330px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 868px;
  }

  .u-section-1 .u-shape-1 {
    margin-right: -511px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -537px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -109px;
    margin-left: -400px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: -425px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    height: 657px;
    margin-top: -723px;
    margin-right: -624px;
  }

  .u-section-1 .u-shape-2 {
    margin-right: -650px;
  }

  .u-section-1 .u-shape-3 {
    margin-top: -135px;
    margin-left: -475px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: -500px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 475px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  margin-top: -229px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 415px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-1 {
  margin: 32px 30px 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-2 {
  width: 293px;
  margin: 28px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  margin: 32px 30px 0;
}

.u-section-2 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-text-4 {
  width: 293px;
  margin: 28px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-icon-3 {
  height: 64px;
  width: 64px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  margin: 32px 30px 0;
}

.u-section-2 .u-text-6 {
  width: 293px;
  margin: 28px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-2 .u-list-1 {
    margin-top: 39px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 395px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 16px;
  }

  .u-section-2 .u-icon-2 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-right: 16px;
  }

  .u-section-2 .u-icon-3 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 315px;
  }

  .u-section-2 .u-text-2 {
    margin-right: auto;
  }

  .u-section-2 .u-text-4 {
    margin-right: auto;
  }

  .u-section-2 .u-text-6 {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}