.u-section-1 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-1 .u-icon-1 {
  width: 84px;
  height: 84px;
  background-image: none;
  color: rgb(0, 178, 138) !important;
  margin: 0 auto;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 25px auto 0;
}

.u-section-1 .u-rotation-parent-1 {
  width: 475px;
  height: 506px;
  margin: -340px -189px 0 auto;
}

.u-section-1 .u-shape-1 {
  width: 506px;
  height: 475px;
}

.u-section-1 .u-shape-2 {
  width: 450px;
  height: 310px;
  margin: -310px auto 0 -282px;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 25px auto 0 369px;
  padding: 17px 50px 18px 49px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  animation-duration: 1000ms;
  margin: -57px auto 0 617px;
  padding: 17px 50px 18px 49px;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  animation-duration: 1000ms;
  margin: 32px auto 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-rotation-parent-1 {
    height: 507px;
  }

  .u-section-1 .u-shape-1 {
    width: 507px;
    height: 379px;
    margin: -299px -184px 0 auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 516px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-btn-1 {
    margin-left: 50px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-2 {
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 385px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-rotation-parent-1 {
    width: 232px;
    height: 214px;
    margin-right: auto;
  }

  .u-section-1 .u-shape-1 {
    width: 214px;
    height: 232px;
  }

  .u-section-1 .u-shape-2 {
    width: 136px;
    height: 136px;
    margin-top: 91px;
    margin-left: -118px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 90px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 52px;
    padding: 4px 3px;
  }
}